/* FONT FAMILY */
/* 
* Kumbh Sans 
* CSS Rules :  font-family: 'Kumbh Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap'); 

/* 
* Roboto Slab
* CSS Rules :  font-family: 'Roboto Slab', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* 
* Space Mono
* CSS Rules :  font-family: 'Space Mono', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Variables de couleurs CSS */
:root
{
    --orange: #F87070;
    --cyan: #70F3F8;
    --violet: #D881F8;
    --grey: #D7E0FF;
    --greywhite: #EFF1FA;
    --bluedark: #1E213F;
    --verydarkblue:#161932;

    --Kumbh: 'Kumbh Sans', sans-serif;
    --Roboto: 'Roboto Slab', serif;
    --Space: 'Space Mono', monospace;
}

/* CSS STYLES */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body
{
    background-color: var(--bluedark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;

}

header
{
    width: 157px;
    height: 40px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Kumbh);
    font-weight: bold;
    font-size: 32px;
    color: var(--greywhite);
}

nav
{
    width: 373px;
    height: 63px;
    /* border: 1px solid red; */
    border-radius: 31.5px;
    background-color: var(--verydarkblue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav div{
    width: 120px;
    height: 48px;
    border-radius: 26.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item
{
    color: var(--grey);
    font-family: var(--Kumbh);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.active
{
    background: var(--orange); 
    color: var(--verydarkblue);
}

.clock
{
    height: 410px;
    width: 410px;
}

.oval
{
    height: 410px;
    width: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, rgba(46,50,90,1) 0%, rgba(14,17,42,1) 100%);
    filter: drop-shadow(50px 50px 100px #121530) drop-shadow(-50px -50px 100px #272C5A);
    display: flex;
    justify-content: center;
    align-items: center;
}

.oval-copy
{
    width: 366px;
    height: 366px;
    border-radius: 50%;
    background-color: var(--verydarkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.time
{
    color: var(--grey);
    text-align: center;
    font-family: var(--Kumbh);
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -5px;
    position: absolute;
    display:flex;
}

.svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start
{
    color: var(--grey);
    font-family: var(--Kumbh);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 15px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
    transition: 0.4s;
}

.start:hover
{
    color: var(--orange);
}

.settings
{
    width: 27px;
    height: 28px;
    /* border: 1px solid red; */
}

.settings svg
{
    cursor: pointer;
}

.settings:hover
{
    transform: scale(1.1);
}

.settings__modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 540px;
    height: 464px;
    border-radius: 25px;
    visibility: hidden;
}

.settings__modal h2
{
    color: #161932;
    font-family: var(--Kumbh);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.settings__modal__header
{
    display: flex;
    justify-content: space-around;
    gap: 16rem;
    align-items: center;
    border-bottom: 1px solid #E3E1E1;
    height: 93px;
}

.settings__modal__header svg
{
    cursor: pointer;
}

.settings__modal__header svg:hover path 
{
    transform: scale(1.1);
    fill: var(--orange);
}

.settings__modal__content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 371px;
}

.settings__modal__content__item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 462px;
    height: 109px;
}

.settings__modal__content__item h3
{
    color: #161932;
    font-family: var(--Kumbh);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    position: absolute;
    top:9em;
}

.settings__modal__content__item p
{
    color: #1E213F;
    font-family: var(--Kumbh);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.settings__modal__content__item__time
{
    position: absolute;
    top: 11.5em;
}

/* Cache les flèches par défaut */
.settings__modal__content__item__time input::-webkit-outer-spin-button,
.settings__modal__content__item__time input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/* Style pour l'input */
.settings__modal__content__item__time input[type='number'] {
    background: #EFF1FA;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 48px;
    padding-left: 16px;
    padding-right: 15px;
    outline: none;
    color: #1E213F;

    font-family: var(--Kumbh);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    -moz-appearance: textfield;
}

.settings__modal__content__item__time .number-input {
    position: relative;
}

.settings__modal__content__item__time .number-input svg {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: auto;
    cursor:pointer;
    /* border: 1px solid red; */
    height: 17px;
    width: 12px;
}

.settings__modal__content__item__time .number-input .arrow-down {
    margin-top: 10px;
}

.separator
{
    width: 462px;
    height: 1px;
    background-color: #E3E1E1;
}

.separator:nth-of-type(2) {
    position: relative;
    bottom: 1.5em;
}

.settings__modal__content__font,
.settings__modal__content__color
{
    /* border: 1px solid red; */
    width: 462px;
    height: 40px;

}

.settings__modal__content__font
{
    position: relative;
    top: -1em;
}

.settings__modal__content__font h3,
.settings__modal__content__color h3
{
    color: #161932;
    font-family: var(--Kumbh);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    position: absolute;
}

.settings__modal__content__font h3
{
    top:1em;
}

.settings__modal__content__color h3
{
    top: 1em;
    left: 0em;
}

.settings__modal__content__color svg circle
{
    cursor: pointer;
}

.settings__modal__content__font__item,
.settings__modal__content__color
{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    gap:1em;
}

.settings__modal__content__font__item svg
{
    cursor: pointer;
}


/* Color */
.settings__modal__content__color
{
    /* border: 1px solid red; */
    position: relative;
    bottom: 2em;
}


.settings__modal__footer,
.settings__modal__footer__apply
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings__modal__footer
{
    /* border: 1px solid red; */
    color: #FFF;
    text-align: center;
    font-family: var(--Kumbh);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    bottom: 2em;
}

.settings__modal__footer__apply
{
    width: 140px;
    height: 53px;
    border-radius: 26.5px;
    background: var(--orange);
    cursor: pointer;
}

.settings__modal__footer__apply:hover
{
    color: black;
}

#font1{
    font-family: var(--Kumbh);
}

#font2{
    font-family: var(--Roboto);
}

#font3{
    font-family: var(--Space);
}



/* MEDIA QUERIES */
@media only screen and (max-width: 375px) {
 header
    {
        font-size: 24px;
    }

 .nav-item
    {
        font-size: 12px;
    }

 .active
    {
        width: 105.201px;
        height: 48px;
    }

}